SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_OAUTH_STATE_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/callback
SPOTIFY_AUTHORIZE_URL=https://accounts.spotify.com/authorize
SPOTIFY_TOKEN_URL=https://accounts.spotify.com/api/token
SPOTIFY_API_BASE_URL=https://api.spotify.com/v1
SPOTIFY_SCOPES=user-read-email,user-read-private,user-top-read,user-read-recently-played,user-read-currently-playing,playlist-modify-private,playlist-modify-public

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
FRONTEND_URL=http://127.0.0.1:5173
FRONTEND_URLS=http://127.0.0.1:5173,http://localhost:5173
